<div class="setting">
  <div class="close" (click)="done()">Done</div>
  <div class="header">Selected city:</div>
  <div class="input">
    <input (change)="select()" class="select_city" placeholder="start typing" list="city_list" [(ngModel)]="city" />
    <datalist id="city_list">
        <option *ngFor="let city of city_list">
          <div *ngIf="!selected_city.includes(city)">{{city}}</div>
        </option>
    </datalist>
  </div>
  <div cdkDropList class="city_list" (cdkDropListDropped)="drop($event)">
    <div class="city" *ngFor="let city of selected_city let i = index" cdkDrag>
      <div class="burger">&#8801;</div>
      <div class="city_name">{{ city }}</div>
      <div class="trash" (click)="remove(i)">&#10006;</div>
    </div>
  </div>
</div>