@import "../../variables.scss";

.setting {
  position: absolute;
  // overflow: auto;
  width: 220px;
  height: $setting-height;
  background-color: $background-color_1a;
  background: $background-gradient;
  color: $font-color-light;
  border-radius: $border-radius-main - 1px;
  padding: $padding-all;
}

.close {
  width: 215px;
  height: 20px;
  text-align: end;
  font-weight: $bold-text;
  cursor: pointer;
}

.header {
  height: 20px;
  margin: 5px;
  font-size: 18px;
}

.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
  justify-items: center;
}

.wigetes {
  padding: $padding-all;
}

.header {
  text-align: center;
  font-weight: $bold-text;
}

.select_city {
  width: 200px;
  height: 20px;
  border-radius: $border-radius-item;
  resize: none;
}

.city_list {
  overflow-y: scroll;
  width: 218px;
  height: $container-height - 122px;
  margin-top: 15px;
}

.city {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  box-sizing: border-box;
  background-color: $background-color_items;
  border: $border-size solid $border-color-light;
  border-radius: $border-radius-item;
  margin: 5px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.city_name {
  overflow: hidden;
}

.trash {
  text-align: right;
}

.hidden {
  display: none;
}