<div class="weather" (mouseenter)="arrowShow($event)" (mouseleave)="arrowHide()" (scroll)="arrowShow($event)">
  <div class="set" (click)="openSetting()"><span>&#9881;</span></div>
  <app-setting [ngClass]="{'hidden': setting_visible == false }" [available_cities]="available_cities"
    [cities]="city_list" (sentSelectedCity)="updateCities($event)"></app-setting>
  <div class="cities">
    <div *ngFor="let city of city_list">
      <app-city [city_item]="city" [config]="config"></app-city>
    </div>
  </div>
  <div class="arrow arrow_top" [ngClass]="{'hidden': arrow_top_visible == false }"><div>&#9650;</div></div>
  <div class="arrow arrow_bottom" [ngClass]="{'hidden': arrow_bottom_visible == false }"><div>&#9660;</div></div>
</div>