@import "../variables.scss";

.weather {
    display: grid;
    overflow: auto;
    width: 240px;
    height: $container-height;
    background-color: $background-color_01a;
    border: $border-size solid $border-color-dark;
    border-radius: $border-radius-main;
    margin: 50px;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color-dark;
}

.cities>div {
    border-bottom: $border-size solid $border-color-dark;
}

.cities :last-child {
    border-bottom: 0px;
}

.set {
    position: absolute;
    margin-left: 210px;
    font-size: 30px;
    cursor: pointer;
}

.arrow {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: $arrow-height;
    background-color: $background-color_1a;
    font-size: 30px;
    font-weight: $bold-text;
    pointer-events: none;
}

.arrow_bottom {
    background: linear-gradient(180deg,
            $background-color_01a 0%, 
            $background-color_1a 100%);
    color: $font-color-light;
    border-radius: 0 0 $border-radius-main $border-radius-main;
    margin-top: $margin-top-arrow-bottom;
}

.arrow_top {
    background: linear-gradient(0deg,
            $background-color_01a 0%,
            $background-color_1a 100%);
    color: $font-color-light;
    border-radius: $border-radius-main $border-radius-main 0 0;
}

.hidden {
    display: none;
}