// $container-height: 543px;
$container-height: 270px;
$arrow-height: 50px;
$background-color_1a: rgba(79, 110, 110, 1);
$background-color_01a: rgba(79, 110, 110, 0.1);
$background-color_05a: rgba(79, 110, 110, 0.5);
$background-color_items: rgba(68, 93, 93, 1);
$background-gradient:linear-gradient(180deg,
    rgba(79, 110, 110, 1) 0%,
    rgba(103, 131, 131, 1) 35%,
    rgba(132, 161, 161, 1) 100%);
$font-color-dark: rgb(58, 77, 80);
$font-color-light: rgb(218, 218, 218);
$border-color-dark: rgb(58, 77, 80);
$border-color-light: rgb(218, 218, 218);
$margin-top-arrow-bottom: $container-height - $arrow-height;
$padding-all: 10px;
$border-size: 1px;
$border-radius-main: 10px;
$border-radius-item: 5px;
$bold-text: bold;
$setting-height: $container-height - $padding-all * 2;
$font-family: Avenir,
Helvetica,
Arial,
sans-serif;
